# Java
*.class
*.jar
*.war
*.ear
*.db
*.log

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
*.class
*.log

# 환경설정
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml

# 기타
.DS_Store
Thumbs.db
*.swp
*.swo
